@model BSB.Data.Entity.Order

<div class="container">

    <h4 style="text-align: center">Order details for user: @Model.User.Email</h4>
    <br />
    <div style="width: 67.5rem; text-align:center">
        @foreach (var item in Model.ProductInOrders)
        {
            <div class="card text-center" style="width: 16rem; height: 20rem;display:inline-block; margin: 3px">
                <img class="card-img-top" src="@item.Product.Image alt="Product image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Product.Name</h5>
                    <p class="card-text">Book Genre: @item.Product.Genre</p>
                    @if (item.Product.IsForBuy)
                    {
                        <p class="card-text">This product is for buying</p>
                    }
                    else
                    {
                        <p class="card-text">This product is for renting</p>
                    }
                </div>
            </div>
        }
    </div>
</div>